#include "Pods/Target Support Files/Pods-safesafe/Pods-safesafe.stagedebug.xcconfig"

INFOPLIST_FILE = safesafe/Info-stage.plist
PRODUCT_BUNDLE_IDENTIFIER = pl.gov.mc.protegosafe-staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Stage
DEVELOPMENT_TEAM = 85GAG994R5
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_ENTITLEMENTS = safesafe/Resources/safesafe Debug.entitlements
PROVISIONING_PROFILE_SPECIFIER = protegosafe-staging-dev
OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS -D STAGE_SCREENCAST
