github "Quick/Quick" == 2.2.0
github "Quick/Nimble" == 8.0.5
github "Swinject/Swinject" == 2.7.1
github "realm/realm-cocoa" == 4.4.0
github "SnapKit/SnapKit" == 5.0.1
github "Khan/SwiftTweaks" == 4.0.3
github "ReactiveX/RxSwift" == 5.1.1
github "ashleymills/Reachability.swift" == 5.0.0
github "Square/Valet" == 3.2.8
github "airbnb/lottie-ios" == 3.1.6