<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPOSURE_NOTIFICATION</key>
	<dict>
		<key>EN_STORAGE_URL</key>
		<string>https://exp.safesafe.app/</string>
		<key>EN_GAT_BASE_URL</key>
		<string>https://gat.safesafe.app/</string>
		<key>EN_UDK_BASE_URL</key>
		<string>https://udk.safesafe.app/</string>
	</dict>
	<key>PWA</key>
	<dict>
		<key>SCHEME</key>
		<string>https</string>
		<key>HOST</key>
		<string>v4.safesafe.app</string>
	</dict>
</dict>
</plist>
