<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466787798978-oolfi4hkqf0f3tf3iu3v2f5kv50vrh9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466787798978-oolfi4hkqf0f3tf3iu3v2f5kv50vrh9d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466787798978-u5cv41rksdq3t5ngn4rknclhfgnsclvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACVUYbPJ1FuFqd1Io14f8u26qbvUC7chk</string>
	<key>GCM_SENDER_ID</key>
	<string>466787798978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holdapp.safesafe.app</string>
	<key>PROJECT_ID</key>
	<string>safesafe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>safesafe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466787798978:ios:e5e9a9d4857fdb551a105b</string>
	<key>DATABASE_URL</key>
	<string>https://safesafe-app.firebaseio.com</string>
</dict>
</plist>