INFOPLIST_FILE = PushMutableContent/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = pl.gov.mc.protegosafe.apns-mutablecontent
DEVELOPMENT_TEAM = 85GAG994R5
CODE_SIGN_ENTITLEMENTS = PushMutableContent/PushMutableContent-dev.entitlements
PROVISIONING_PROFILE_SPECIFIER = Protego Safe Live Debug Mutable Content
CODE_SIGN_IDENTITY = Apple Development: Protego Protego (Y78W4PU766)
