<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>pl.gov.anna.BluetoothBackgroundTask</string>
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Wykorzystane w celu lokalizowania innych użytkowników aplikacji</string>
	<key>BUGFENDER_ENABLED</key>
	<string>$(BUGFENDER_ENABLED)</string>
	<key>BUGFENDER_KEY</key>
	<string>$(BUGFENDER_KEY)</string>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(CI_COMMIT_TAG)</string>
	<key>CFBundleVersion</key>
	<string>$(CI_JOB_ID)</string>
	<key>CONSOLE_LOGGING_ENABLED</key>
	<string>$(CONSOLE_LOGGING_ENABLED)</string>
	<key>CRASHLYTICS_ENABLED</key>
	<string>$(CRASHLYTICS_ENABLED)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Wykorzystane w celu lokalizowania innych użytkowników aplikacji</string>
	<key>TWEAKS_ENABLED</key>
	<string>$(TWEAKS_ENABLED)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>UIAppFonts</key>
    <array>
        <string>Poppins-Black.otf</string>
        <string>Poppins-Light.otf</string>
        <string>Poppins-BlackItalic.otf</string>
        <string>Poppins-LightItalic.otf</string>
        <string>Poppins-Bold.otf</string>
        <string>Poppins-Medium.otf</string>
        <string>Poppins-BoldItalic.otf</string>
        <string>Poppins-MediumItalic.otf</string>
        <string>Poppins-ExtraBold.otf</string>
        <string>Poppins-Regular.otf</string>
        <string>Poppins-ExtraBoldItalic.otf</string>
        <string>Poppins-SemiBold.otf</string>
        <string>Poppins-ExtraLight.otf</string>
        <string>Poppins-SemiBoldItalic.otf</string>
        <string>Poppins-ExtraLightItalic.otf</string>
        <string>Poppins-Thin.otf</string>
        <string>Poppins-Italic.otf</string>
        <string>Poppins-ThinItalic.otf</string>
    </array>
</dict>
</plist>
